@page "/"
@inject IStringLocalizer<Index> Localize

<div class="page-container">

    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell main-text mat-layout-grid-cell-span-12">
                <img class="main-image" src="http://miamidsa.org/wp-content/uploads/2020/09/Fund-the-People-Miami.jpg" />
                <MatHeadline6 Style="color: green; font-weight: 700;">
                    @Localize["OUR WHAT AND WHY"]
                </MatHeadline6>
                <p>
                    @Localize["Each summer, Miami-Dade County releases a Proposed Budget for the next fiscal year: this is the plan for how to spend billions of dollars of our taxes and other county revenue in our communities over the next year. Historically, there have been few opportunities for public comment before the budget is approved by a vote of the County Commissioners in the fall—let alone public input in the crafting of the budget. What is more, while the budget is available on the County website, it runs hundreds of pages long and is no easy read if you don’t know what you’re looking for. We believe that the budget should reflect the values and needs of the County’s residents, and we’re wise enough to know that we can’t simply rely on those in power to look after our best interests. Fundthepeoplemiami.com was born out of our attempt to break down the County budget so that anyone could know what the plan is for our money and our communities and, together, have a say in it."]
                </p>
                <p>
                    @Localize["Our mission is to make Miami Dade County’s budget more accessible while providing interactive tools and opportunities for the general public to become informed on the ways our Miami-Dade taxpayer money is spent. Our “Community Services” tab includes a comparison tool that aims to illustrate discrepancies and inequities in public funding in Miami-Dade. Use our “Resources” tab to find your district and your commissioner’s contact information."]
                    <a href="https://docs.google.com/document/d/1BuD86ch1_zDkmQ2vZMn15YHgNunR3yf1lH2pj4Kra4U/edit?usp=sharing" target="_blank">
                        @Localize["Click here"]
                    </a>
                    @Localize["for a step-by-step guide to both these actions! Finally, our “Get Involved” tab will have updated links to events and training for the general public to become a part in the county budget decision-making processes."]
                </p>
                <p>
                    @Localize["Our content and resources draw from our research on the latest county budget and reflect the goals, initiatives, actions, and developments of a wide coalition of community-based organizations in Miami-Dade county. "]
                </p>

                <MatHeadline6 Style="color: #C51016; font-weight: 700;">
                    @Localize["A BRIEF HISTORY"]
                </MatHeadline6>

                <p>
                    @Localize["We undertook this work with a group of community organizations in the wake of George Floyd’s death, and it soon became apparent that the disproportionate amount of spending on local law enforcement being decried across the country was also evident in Miami. In this first iteration of the website, we focus on the discrepancies between our county’s funding for policing and jails versus community services. We hope that as more people join our efforts and new findings are made we can create the most powerful and accessible budget visualization tool our communities deserve. The figures used on this website have been updated to reflect the County’s Adopted Budget for the 2020-2021 fiscal year."]
                </p>

                <MatHeadline6 Style="color: #B89413;font-weight: 700;">
                    @Localize["SPECIAL THANKS"]
                </MatHeadline6>

                <p>
                    @Localize["The research, illustrations and design presented here is the accumulated work of many individuals—workers, students and everyday citizens who are dedicated to seeing economic justice and real democracy here in Miami. Without them and the organizations they are a part of this website and the information it makes available to our communities would not have been possible."]
                </p>

                <a href="https://github.com/Bortronx/budgetVisualization">
                    @Localize["Developer? Contribute Here!"]
                </a>

            </div>
        </div>
    </div>

    <div class="glance">
        <div>
            <MatH6 class="glance-heading">
                @Localize["MIAMI-DADE BUDGET"]<br />
                @Localize["AT A GLANCE"]
            </MatH6>
            <p class="glance-text-top">
                @Localize["Total Funding for Operating Budget:"]
            </p>
            <h4 class="glance-text-top teal">$5,713,706,000</h4>

        </div>

        <div class="red-line">
            <p class="glance-text">Police Department</p>
            <h5 class="red">$764,598,000</h5>
        </div>

        <div class="green-line">
            <p class="glance-text">
                @Localize["Transportation & Public Works"]
            </p>
            <h5 class="green">$616,801,000</h5>
        </div>

        <div class="blue-line">
            <p class="glance-text">Corrections</p>
            <h5 class="blue">$383,686,000</h5>
        </div>

        <div class="orange-line">
            <p class="glance-text">
                @Localize["Community Services"]
            </p>
            <h5 class="orange">$149,058,000</h5>
        </div>

        <div class="purple-line">
            <p class="glance-text">
                @Localize["Public Housing"]
            </p>
            <h5 class="glance-text purple">$97,602,000*</h5>
            <MatCaption>*$300,000 from the General Fund</MatCaption>
        </div>

        <div class="deep-red-line">
            <p class="glance-text">
                @Localize["Judicial Administration"]
            </p>
            <h5 class="deep-red">$41,234,000</h5>
        </div>

    </div>
</div>

<style>



    .teal {
        color: #14736A;
    }

    .red {
        color: #EB2128;
    }

    .red-line {
        border-left: 2.4px solid #EB2128;
        padding-left: 10px;
        margin-top: 25px;
    }

    .green {
        color: #26A26B;
    }

    .green-line {
        border-left: 2.4px solid #26A26B;
        padding-left: 10px;
        margin-top: 25px;
    }

    .blue {
        color: #0096CA;
    }

    .blue-line {
        border-left: 2.4px solid #0096CA;
        padding-left: 10px;
        margin-top: 25px;
    }

    .orange {
        color: #CF5300;
    }

    .orange-line {
        border-left: 2.4px solid #CF5300;
        padding-left: 10px;
        margin-top: 25px;
    }

    .purple {
        color: #554B86;
    }

    .purple-line {
        border-left: 2.4px solid #554B86;
        padding-left: 10px;
        margin-top: 25px;
    }

    .deep-red {
        color: #C51016;
    }

    .deep-red-line {
        border-left: 2.4px solid #C51016;
        padding-left: 10px;
        margin-top: 25px;
    }

    .yellow {
        color: #B89413;
    }

    .yellow-line {
        border-left: 2.4px solid #B89413;
        padding-left: 10px;
        margin-top: 25px;
    }
</style>

@code {

}

