@using Microsoft.AspNetCore.Components
@inject NavigationManager uriHelper
@inject IStringLocalizer<NavMenu> Localize
 

<MatNavMenu Class="sidebarApp  mat-elevation-z1">

    <MatNavItem Class="sidebarApp-item" Href="@uriHelper.ToAbsoluteUri("").AbsoluteUri" NavLinkMatch="NavLinkMatch.All">
        <div class="sidebarApp-item-content">
            <MatIcon Icon="home"></MatIcon>
            <div>@Localize["Overview"]</div>
        </div>
    </MatNavItem>

    @for (int i = 0; i < (BudgetData.BudgetSections.Count); i++)
    {
        int ii = i;

        if (i != BudgetData.sectionBeingComparedIndex)
        {
            <MatNavItem Class="sidebarApp-item" Href="@uriHelper.ToAbsoluteUri(
                                                                  BudgetData.BudgetSections[ii].SectionName).AbsoluteUri">
                <div class="sidebarApp-item-content">
                    <MatIcon Icon="@BudgetData.BudgetSections[ii].Icon"></MatIcon>
                    <div>@Localize[BudgetData.BudgetSections[ii].SectionName]</div>
                </div>
            </MatNavItem>
        }

    }

    <MatNavItem Class="sidebarApp-item" Href="@uriHelper.ToAbsoluteUri("Resources").AbsoluteUri">
        <div class="sidebarApp-item-content">
            <MatIcon Icon="library_books"></MatIcon>
            <div>
                @Localize["Resources"]
            </div>
        </div>
    </MatNavItem>

    <MatNavItem Class="sidebarApp-item" Href="@uriHelper.ToAbsoluteUri("TakeAction").AbsoluteUri">
        <div class="sidebarApp-item-content">
            <MatIcon Icon="flag"></MatIcon>
            <div>
                @Localize["Take Action"]
            </div>
        </div>
    </MatNavItem>

    <MatNavItem Class="sidebarApp-item" OnClick="ChangeLanguage" >
        <div class="sidebarApp-item-content">
            <CultureSelectorButtonType ></CultureSelectorButtonType>
        </div>
    </MatNavItem>

</MatNavMenu>




